.range-wrapper {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.range {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.range-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding-top: 20px;
}

.list-item {
  width: 15px;
  height: 15px;
  background-color: #ccc;
}
